:root {
  --colID1: rgb(32, 79, 150);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colID1);
    min-height: 8vh;
  }
  
  .logo a {
    font-weight: bold;
    font-size: x-large;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    text-shadow:
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff,
      0 0 151px #fff;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    width: 70%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  .nav-bar {
    display: none;
    cursor: pointer;
  }
  
  .nav-bar div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: var(--colID1);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-bar {
      display: block;
      transform: translateX(50%);
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  