.background h4 {
    font-size: 33px;
    line-height: 50px;
    text-align: center;
}
.background h5 {
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}
.background .par {
    padding: 0 6em 0 6em ;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}